.state-toggle-container {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #0f1114;
    transition: all 0.2s ease;
    &:active {
        .toggle-thumb {
            box-shadow: 0 0 5px 5px #ffa7c4;
        }
    }
    &.light {
        .toggle-thumb {
            right: calc(100% - 23px);
        }
    }
    .toggle-thumb {
        top: 1px;
        right: 1px;
        width: 22px;
        height: 22px;
        background-color: #fafafa;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
}