$lightPink: #ffa7c4;
$pink: #d23669;
@font-face {
    font-family: "Merriweather";
    src: url("../../../public/assets/font/Merriweather-Regular.woff2") format("woff2"), url("../../../public/assets/font/Merriweather-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../../public/assets/font/Montserrat-Black.woff2") format("woff2"), url("../../../public/assets/font/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", serif;
}

html,
*,
*:after,
*:before {
    box-sizing: border-box;
}

.dark {
    body {
        background-color: #282c35;
    }
}

body {
    background-color: #fff;
    transition: all ease 0.4s;
}

.container {
    max-width: 672px !important;
}

.Toastify {
    z-index: 250000;
    position: relative;
    .Toastify__toast-body {
        .Toastify__toast-icon {
            ~div {
                >div {
                    color: #000 !important;
                }
            }
        }
    }
}